header {
    background-color: $primary-blue;
    padding: 10px;
    box-shadow: 0px 2px 4px #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    >.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        color: #fff;
        margin: 0;
        position: relative;
        left: -500px;
        
        @media (max-width: 991px) {
            order: 1;
            font-size: 1.5rem;
        }
    }

    nav {

        @media (max-width: 991px) {
            order: 0;
        }

        .navbar-toggler {
            border: 0;
            padding: 0;
            box-shadow: none !important;

            .bar {
                background-color: #ffffff;
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            &[aria-expanded="true"] {

                .bar {
                    &:nth-child(2) {
                        opacity: 0;
                    }
                
                    &:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }
                
                    &:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }

        }

        .navbar-collapse {

            @media (max-width: 991px) {
                background-color: $primary-blue;
                position: fixed;
                top: 65px;
                width: 60vw;
                left: 0;
                padding: 1rem;
                height: calc(100vh - 65px);
            }

            ul {
                list-style: none;
                display: flex;
                margin: 0;
    
                li {
                    margin: 0 15px;
    
                    a {
                        padding: 5px;
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 0.9em;
                        letter-spacing: 1px;
                        position: relative;
    
                        &:after {
                            width: 0;
                            position: absolute;
                            height: 1px;
                            display: block;
                            content: '';
                            color: #fff;
                            background-color: #fff;
                            transition: all 0.5s ease;
                            top: 26px;
                            left: 0.5rem;
                        }

                        &:hover {
                            color: #eee;
    
                            &:after {
                                width: calc(100% - 1rem);
                            }
                        }
                    }
    
                    
                }
            }
        }
    }

    .cart {
        order: 2;
        min-width: 35px;
        
        ul {
            margin: 0;
            padding: 0;
            
            a {
                position: relative;
                padding: 5px;
                text-transform: uppercase;
                color: #fff;
                font-size: 0.9em;
                letter-spacing: 1px;
                position: relative;
    
                &:hover {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        
        
        .cart-items {
            content: '';
            border-radius: 100%;
            background-color: red;
            padding: 5px;
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            left: 22px;
            top: -12px;
            line-height: 1;
            text-align: center;
            font-size: 0.8rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}